<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Room</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[ '/home']">Home</a>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="[ '/user']">New Booking</a>
            </li>
            </ul>
            
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Log In</button>
        <button *ngIf="logIn==true" class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()">Log Out</button>
         
    </div>
  </nav>
