<div align="center">
  <br>
<h3>Search Rooms</h3>
</div>
<br>
<!-- (change)="getRooms($event.target.value)" -->
  <div>
    <select  class="form-control form-control-sm" [(ngModel)]="value" (change)="onSelect($event.target.value)" placeholder="Room Type">
        <option  value="Luxury">Luxury</option>
        <option  value="Semi-Luxury">Semi-Luxury</option>
        <option  value="Budget">Budget</option>
    </select>
</div>

    <br><br><br>
    <div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Room No</th>
            <th scope="col">Room Type</th>
            <th scope="col">Room Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{room.roomNo}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.roomPrice}}</td>
            <td><button type="button" class="btn btn-success" (click)="onBook(room.roomNo)">Book</button></td>
          </tr>
        </tbody>
      </table>
  
  </div>
