 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ed-small-bedroom-11-1526489570.jpg" class="d-block w-100" width="640" height="460" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://thingz-media.s3.us-east-2.amazonaws.com/2018/03/quadrato-bedroom-1.jpg" class="d-block w-100" width="640" height="460" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://thumbnails.trvl-media.com/c1W0cUxl7yoib814poKalcNwF70=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/25000000/24460000/24456400/24456342/8f26354d_z.jpg" class="d-block w-100" width="640" height="460" alt="...">
          </div>
      
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <br>
    <br>
    <div style="color: lightcoral">
    <marquee ><i>Great Location, Service and Stay.Book Your Room NOW*</i></marquee>
    </div>
  </div>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
