<div>
<div align="center">
  <br>
  <h3>MY ROOM</h3>
</div>
<br><br>
<div class="contain-fluid" style="width:70%;margin-left: auto;margin-right: auto ; border:1px solid black">
  <br><br>
<form align="center" [formGroup]="loginForm">
  <div class="form-group" >
    <label>User Name</label>
    <input type="text" class="form-control" placeholder="User Name" formControlName="userName">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
  </div>
  
  <button (click)="checkLogin()" class="btn btn-primary">Submit</button>
  <br>
  <br>
  <a  routerLink="/signup">New Register</a>
</form>
<br>
<br>
<br>
<br><br><br>
</div>

</div>