<div align="center">
  <h3>Room</h3>
</div>
<br>
<div style="width:70%;margin-left: auto;margin-right: auto; background-color: azure" align="center">
  <br>
<form [formGroup]="roomForm">
    <div class="form-group">
      <label>Room No</label>
      <input type="text" class="form-control" formControlName="roomNo">
    </div>
    <div class="form-group">
      <label>Room Type</label>
      <select class="form-control" formControlName="roomType">
        <option>Luxury</option>
        <option>Semi-Luxury</option>
        <option>Budget</option>
      </select>
    </div>
    <div class="form-group">
        <label>Room Price</label>
        <input type="number" class="form-control" formControlName="roomPrice">
      </div>

      <button type="submit" class="btn btn-primary" (click)="saveRoom()">Submit</button>
  </form>

  <br><br><br><br><br>

</div>