<div>
<div align="center">
  <br>
<h3>Sign Up Form</h3>
</div>

<form style="width:70%;margin-left: auto;margin-right: auto;" [formGroup]="signupForm">
  <br><br>
  <div class="form-group" >
    <label>User Name</label>
    <input type="text" class="form-control" placeholder="User Name" formControlName="userName">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
  </div>
  <div class="form-group">
    <label>Gender</label>
    <input type="text" class="form-control" placeholder="Gender" formControlName="gender">
  </div>
  <div class="mb-3">
    <label>Address</label>
    <textarea formControlName="address" class="form-control" placeholder="Required Address" required></textarea>
    
  </div>
  <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
  <br>
  <br>
  <a routerLink="/login">Back</a>
  <br><br>
</form>
<br><br>
</div>