
 <div align="center">
  <br>
  <h3>New Booking</h3>
</div>
<br><br>
<!--<div>
<form>
    <div class="form-group col-md-6">
        <label>Booking Date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker #d="ngbDatepicker" [(ngModel)]="model">
                -->
       <!--<div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <br>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
</div> -->

<form>
  <div class="form-group col-md-6">
    <label>Date</label>
    <input type="text" class="form-control" placeholder="DD/MM/YYYY" [(ngModel)]="model" name="date">
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
</form>
