<div>
  <div align="center">
    <br>
    <h2>Admin Page</h2>
  </div>
  <br><br>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/new">Add New Room</a></li>
    </ul>
  </div>

  <br><br>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/delete">Delete Room</a></li>
    </ul>
  </div>
</div>
