<div align="center" style="width:70%;margin-left: auto;margin-right: auto;">
  <br>
<h3>Room List</h3>
</div>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Room No</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of roomList">
      <td>{{room.roomNo}}</td>
      <td>{{room.roomType}}</td>
      <td>{{room.roomPrice}}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(room.roomNo)">Delete</button></td>
    </tr>
  </tbody>
</table>
